/* Reset and Global Styling */
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    cursor: url(".png"), auto;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-x: hidden;
}

/* Header and Nav Styling */
header, nav, footer, .lewy, .prawy {
    background-attachment: fixed;
    background-image: url(kwidzyn.png);
}

header {
    width: 100vw; /* Slight padding on each side */
    margin: 0 auto;
    text-align: center;
    padding: 2vh 0; /* Vertical padding */
    color: white;
    background-color: rgba(0,0,0,0.5);
}
/* From Uiverse.io by mrhyddenn */
.center-div {
    display: flex;
    justify-content: center; /* Centers horizontally */
}

.button {
      background-color: rgba(255,255,255,0.4);
      padding: 1rem 2rem;
      border-radius: 1.25rem;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
  display: flex;
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #007bff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: #fff;
  overflow: hidden;
}

.box:before {
  color: #fff;
  content: "K";
  position: absolute;
  top: 0;
  background-color: #007bff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'W';
}

.box:nth-child(3)::before {
  content: 'I';
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'D';
}

.box:nth-child(5)::before {
  content: 'Z';
}

.box:nth-child(6)::before {
  transform: translateY(-100%);
  content: 'Y';
}

.box:nth-child(7)::before {
  content: 'N';
}

.box:nth-child(8)::before {
  transform: translateY(-100%);
  content: 'I';
}
.box:nth-child(9)::before {
  content: 'A';
}
.box:nth-child(10)::before {
  transform: translateY(-100%);
  content: 'K';
}


.button:hover .box:before {
  transform: translateY(0);
}
    
/* From Uiverse.io by kennyotsu */ 
.card {
  /* color used to softly clip top and bottom of the .words container */
  background-color: rgba(255,255,255,0.4);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}


nav {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    padding: 1.5vh 0;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

/* Main Container */
.container {
    width: 100vw;
    display: flex;
    flex: 1;
    background-position: center;
    background-size: cover;
}
/* Styl ogólny kontenera */
#article {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: rgba(249, 249, 249, 0.7); /* Lekko przezroczyste tło */
    padding: 4vw;
}
#article * {
    max-width: 90vw;
}

/* Nagłówki */
#article h2, #article h3, #article h4 {
    color: #444;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

/* Linki */
#article a {
    color: #1a0dab;
    text-decoration: none;
}

#article a:hover {
    text-decoration: underline;
    color: #551a8b;
}

/* Obrazy */
#article img {
    max-width: 100%;
    height: auto;
    margin: 5vw 0;
}

/* Listy */
#article ul, #article ol {
    padding-left: 5vw;
    margin-bottom: 5vh;
}

#article li {
    line-height: 1.6;
}

/* Tabele */
#article table {
    width: 70vw;
    border-collapse: collapse;
    margin: 2vw 0;
    border: 1px solid rgba(204, 204, 204, 0.5); /* Ustawione przezroczyste tło */
}

#article th, #article td {
    border: 1px solid rgba(221, 221, 221, 0.5);
    padding: 3vw;
    text-align: left;
}

#article th {
    background-color: rgba(242, 242, 242, 0.5);
    font-weight: bold;
}

/* Cytaty i przypisy */
#article sup {
    font-size: 0.8em;
    color: #666;
}

#article blockquote {
    border-left: 4px solid rgba(204, 204, 204, 0.5);
    padding-left: 5vw;
    margin: 5vw 0;
    color: #555;
    font-style: italic;
    background-color: rgba(248, 248, 248, 0.5);
}

/* Justowanie tekstu */
#article p {
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 2vh;
}

/* Stylizacja specjalnych elementów, jak infoboxy */
#article .infobox {
    border: 1px solid rgba(221, 221, 221, 0.5);
    padding: 3vw;
    background-color: rgba(248, 248, 248, 0.5);
    margin: 4vw 0;
}
}
.srodek {
    display: none;
}

/* Sidebar Panels */
.lewy, .prawy, .srodek {
    max-width: 33vw;
    text-align: center;
    flex: 1;
    padding: 5vw;
    color: white;
}

.formnav {
    background-color: blue;
    color: white; 
    text-align: center;
}

.form {
    color: white;
}

/* Footer */
footer {
    background-color: #0A2043;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    padding: 1.5vh 0;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.nava {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    * {
    clear:both;
    }
    header, nav, footer {
        width: 100vw;
    }
    .container {
        flex-direction: column;
    }
    .lewy, .prawy {
        width: 100vw;
        padding: 3vw 2vw; /* Adjust padding for mobile */
    }
    .srodek {
        visibility: hidden; /* Schowany srodkowy div */
    }
}
a {
    color: #4CAF50;
}
a:hover {
    text-shadow: 0 0 3px #d0f742
}

form {
    text-align: center;
}

.register-container {
    background-image: url(registrybackground.png);
    background-position: center;
    background-size:cover;
    border-radius: 8vw;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    padding: 10vw;
    max-width: 60vw;
    width: 100vw;
    margin: 20vw auto;
    color: #1a3bce;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 1em;
    color: #0A2043;
}

.register-form label {
    margin-bottom: 0.5em;
}

.register-form input {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button, input[type="submit"], input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #45a049;
}
